<h1>Add Your Service</h1>

<%= form_tag '/services ' :remote => true do %>
<div class="service-field" >
 <p>Type of Service:</p>
<%= select_tag(:services, options_for_select([['Chemical', 1], ['Color', 2], ['Cutting', 3]])) %>
<%= text_field_tag "name"  %>

<%= submit_tag 'Add Service', :class => 'btn btn-primary' %>
<% end %>


