<h1>Services Offered</h1>

<%= form_tag do %>
<div class="service-field" >
 <p>Type of Service:</p>
<%= select_tag(:services, options_for_select([['Chemical', 1], ['Color', 2], ['Cutting']])) %>

<% end %>


