<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcome to BeautiFlow, <%= @stylist.first_name  %></h1>
  <p>You have successfully signed up to BeautiFlow!</p>
  <p>To login to the site, just follow this link <%= @url %>
     and sign in using your email address.</p>
  <p>Thanks for signing up and have a great day.</p>
</body>
</html>






