<!-- <div class="container">
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar">
    <%#= link_to "BeautiFlow", root_path, :class => "brand"  %>
      <ul class="nav">
        <li><%#= link_to "News", news_path %></li>
        <li><%#= link_to "Testimonials", pricing_path %></li>
        <li><%#= link_to "Legal", pricing_path %></li>
      </ul>
    </div>
  </div>
</div> --><!-- end "span12" -->