<h1>Edit client</h1>
<%= link_to "Back to All Clients", stylist_clients_path(@stylist) %>
 <%= link_to "Back to dashboard", stylist_path(@stylist) %>

<%= form_for([@stylist, @client]) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>

<% end %>


