<h1>Add new Clients</h1>

<div class="form">
  <%= form_for @client do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="form_buttons">
    <%= f.submit "Add Client Now" %>
  </div>
  <% end %>
</div><!-- end form -->

<!-- Links back to manage clients and dashboard -->
  <div>
    <%= link_to "Back Manage Client", stylist_clients_path %>
  </div>
  <div>
    <%#= link_to "Back Manage Client", clients_path %>
  </div>
  <div>
    <%#= link_to "Back to dashboard", stylist_path %>
  </div>









