<!-- is not presently being used -->
<h1>Dashboard View</h1>

<div class="field">
  <%= link_to "Manage my Clients", stylist_clients_path %>
</div>

<div class="field">
  <%#= link_to "Manage my Clients", clients_path %>
</div>

<div class="field">
  <%= link_to "My profile",  %>
</div>

<div>
  <%= link_to "Go back", new_stylist_path %>
</div>




