  <div id="main_photo">
   <%= content_for :submenu do %>
   <%= button_tag "Already a member?", :id => "member-btn", :class => "btn-primary" %>
  <% end %>


  <h1 id="main-greeting"><span>Welcome to <br></span>BeautiFlow</h1>
    <div class="button-plate">
      <div>
        <%= link_to "Sign Up", new_stylist_path, id: "register-form-btn" %>
      </div>
    </div>
  </div>


























