<!-- <div class="hero-unit"> -->
    <% content_for :submenu do %>
     <%= button_tag "Already a member?", :id => "member-btn", :class => "btn-primary" %>
    <% end %>
  <h1 id="main-greeting">Welcome to BeautiFlow</h1>
  <div class="button-plate">
    <div>
      <%= link_to "Sign Up", new_stylist_path, id: "register-form-btn" %>
    </div>
  </div>

  </div><!-- end form -->
























