<h1>Pricing</h1>


<div id="free_version">
  <h4>Free Version</h4>

  <ol>
   <li>Lorem ipsum dolor sit amet</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
  </ol>
</div>

<div id="value_version">
  <h4>Most Popular</h4>

  <ol>
   <li>Lorem ipsum dolor sit amet, consectetuer</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
  </ol>

  <div id="transaction">

    <% if @authenticated_user %>
      <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
            data-key="<%= STRIPE_PUB %>"></script>
    <% else %>
      <%= link_to 'Sign Up', new_stylist_path, class: 'btn btn-success'  %>
    <% end %>

    <%= form_tag '/stripe', :id => 'stripeform', :remote => true do %>

    <% end %>
  </div>
</div>



