<h1>Pricing</h1>

<div id="free_version">
  <h4 id="title">Free Version</h4>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>
</div>
<div id="value_version">
  <h4 id="title">Most Popular</h4>
   <ul>
    <li>Lorem ipsum dolor sit amet, consectetuer</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
   </ul>
</div>
  <div id="transaction">
    <% if @authenticated_user %>
    <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
          data-key="<%= STRIPE_PUB %>"></script>
     <% else %>
     <% end %>
      <%= form_tag '/stripe', :id => 'stripeform', :remote => true do %>
        <%#= number_field_tag 'amount' %>
     <%= link_to 'Sign Up', new_stylist_path, class: 'btn btn-success' %>

        <%#= hidden_field_tag 'token' %>

      <% end %>

      </div>