<div class="form_buttons">
  <%= link_to "Back to dashboard", stylist_path, class: 'btn btn-success' %>
</div>

<h1>Edit your Profile</h1>

<%= form_for @stylist, :html => {:multipart => true} do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= submit_tag "Update profile", class: 'btn btn-warning'%>

<% end %>

