<h1>Edit your Profile</h1>

<%= form_for @stylist, :html => {:multipart => true} do |f| %>

<%= render :partial => 'form', :locals => {:f => f} %>

<div class="form_buttons">
  <%= submit_tag "Update profile"%>
</div>
<% end %>

<div>
  <%= link_to "Back to dashboard", stylist_path %>
</div>
