<h1>Sign Up</h1>
<% if @stylist.errors.any? %>
    <ul>
      <% for message in @stylist.errors.full_messages %>
      <li><%= message %></li>
    </ul>
    <% end %>
<% end %>

<%= form_for @stylist do |f| %>
<%= render :partial => 'shared/form_stylist', :locals => {:f => f} %>

<div class="form_buttons">
  <%= submit_tag "Sign Up"%>
</div>
<% end %>


















