<h1>Sign Up</h1>
<% if @stylist.errors.any? %>
    <ul>
      <% for message in @stylist.errors.full_messages %>
      <li><%= message %></li>
    </ul>
    <% end %>
<% end %>

<div class="form">
<%= form_for @stylist do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="form_buttons">
   <%= submit_tag "Sign Up"%>
  </div>
<% end %>
</div><!-- end form -->



















