/*General styles*/


body {
  background: -webkit-gradient(radial, center center, 6, center center, 1200, from(#FFF), to(#9051b2));
  /*background: #FF9200; #9051b2*/
}
#main_photo {
  width:  980px;
  height: 475px;
  margin-top: -101px;
  margin-left:  50px;
  background: url('http://woman.thenest.com/DM-Resize/photos.demandstudios.com/getty/article/165/7/57279521.jpg?w=600&h=600&keep_ratio=1') center center no-repeat;
  background-size: cover;
  /*box-shadow: inset 55px 34px 67px #D1B7DF;*/
  /*-webkit-filter: blur(3px);*/
}



.container {
  margin: 0 auto;
  width:  1060px;
  min-height: 600px;
  /*font-family: "Lucida Grande", arial, helvetica, sans-serif;*/

}

th {
  background: #FF9200;
  color: #FFF;
  text-align: center;
  width: 12.2857142857143%;
}

td, th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 4px 6px;
  border: 1px solid #9051b2;
}

.form {
  margin-left:  200px;
}

#listing-clients {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 140px;
}


a {

  text-decoration: none;
}

li {
  text-decoration:  none;
  list-style: none;
}

#control_panel {
  float:  left;
  width:  165px;
}

#control_panel li {
  float:  left;
  width: 20px;
  margin-left:  5px;
}

.controls {
  margin-left: 16px;
}

.btn.btn-success.client_btn {
  margin-left: -50px;
}

.btn.btn-primary.client_btn {
  margin-left: -16px;
}

.btn.btn-danger.client_btn {
  margin-left: 12px;
  margin-top: 0px;
}

.client_btn {
  padding-left:  10px;
}

input {
  width:  200px;
  min-height: 30px;
}

.main-dashboard {
  margin-left:  44px;
}




/*Navigation/Headings */
.navbar {
  min-height: 50px;
  position: relative;
  top:  0px;
  left: 0px;
}
.navbar .brand {
  color:  #FFF;
  text-shadow:  none;
  font-size:  26px;
  margin-left: 20px;
  padding-top: 20px;
}

.navbar .nav.pull-right {
  float: right;
  margin-right: 150px;
}

.navbar .nav > li {
  float: right;
}

.navbar-inner {
  background: #2B0042;
  min-height: 100px;
  margin-top: -20px;
  padding-top: 24px;
  border: none;
  border-bottom:  1px solid #EEE;
  box-shadow: 0px 2px 17px #333;
  }

.navbar .nav li a {
  color:  #832EB2;
  font-size: 16px;
  text-shadow:  none;
  margin-top: 32px;
   &:hover {
    color: #FFBA23;
    }
}

.error_explaination {
  width:  564px;
  margin-left: 217px;
  margin-bottom:  10px;
  background: #FF4040;
  color:  #FFF;
  padding:  10px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 13px #000;
  li {
    color: #FFF;
    font-size: 15px;
  }
  h2 {
    font-size:  17px;
    text-align: center;
    margin: -10px 0px 0px -9px;
    text-shadow:  1px 1px 1px #000;
  }
}

.stylist-info-box {
  /*border: 1px solid #F1ECEC;*/
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  color:  rgb(43, 0, 66);
  padding-right: 75px;
  padding-left: 112px;
  margin: 20px 77px 20px 48px;
  /*border-radius: 12px;*/
  /*text-shadow: 2px 1px 3px #000;*/
  /*background: #FF9200;*/
  /*background: -webkit-radial-gradient(circle, #FFF,#9051B2);*/
  /*box-shadow: inset 0px 0px 8px #333;*/
  p{
    font-size: 18px;
  }
}

.outer-plate {
  /*background: rgb(131, 46, 178);*/
  background:url('bright_squares.png')!important;
  width:  850px;
  border-radius: 12px;
  text-align: center;
  /*color:  #FFF;*/
  top:  27px;
  left: -43px;
  margin-top: 10px;
  margin-left: 30px;
  padding-top:  10px;
  padding-left: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #888;
  border-right: 1px solid #999;
  border-left: 1px solid #EEE;
  border-top: 1px solid #EEE;
  list-style-type: none;
  display: inline-block;

}

#close-stylist-account {
  margin-left: 21px;
}

/*button styling*/

#register-form-btn {
  width: 200px;
  margin-left:  339px;
  padding:  10px 70px;
  font-size: 28px;
  color:  #FFF;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  box-shadow: 1px 1px 4px #333;
  border-radius: 15px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#569700), to(#84E900));
  opacity:  0.85;
    &:hover {
    opacity:  1;
    }
}


.form-add-detail {
  float: left;
  width:  900px;
  min-height: 500px;
  background: #FFF;
  padding:  20px;
  border: 10px solid #777;
  border-radius: 20px;
}

#client_info_panel {
  float:  left;
  width:  250px;
}

#client_contact_panel {
  float:  left;
  width:  250px;
}

#client_photo_panel {
  float:  left;
  width:  200px;
  height: 200px;
}

#client-photo img {
  margin-bottom: 10px;
  border: 10px solid #BBB;
  border-radius: 9px;
}
#update_client_img {
  margin-top: 10px;
}

#close-btn {
  margin-top: -11px;
}

/*
#stylist_photo_panel {
  position: relative;
  top:  42px;
  left: 390px;
  width:  200px;
  height: 200px;
  border: 3px solid #777;
  border-radius: 20px;
}*/

#member-btn {
  margin: -20px 10px -20px 800px;
  border-radius: 6px;
  padding: 3px 10px;
}
.btn.btn-danger {
  margin-bottom: 7px;
}

/*Typography*/

#main-greeting {
  font-size: 86px;
  text-align: center;
  line-height: 70px;
  margin-top: 60px;
  margin-left:  -22px;
  margin-bottom:  36px;
  padding-top: 90px;
  color:  #FFF;
  -webkit-text-stroke: 1px rgba(131,46, 178, .3);
  text-shadow:  0px 0px 30px #2B0042;
}

#main-greeting span {
  font-size: 50px;
}

#sign-in-dropdown {
  margin: 0 auto;
  width:  1960px;
  margin-top: -10px;
  padding-bottom: 10px;
  background: url('textured_stripes.png');
  color:  #2B0042;
  letter-spacing: 2px;
}

#sign_in_content {
  margin-left:  160px;
}

#sign-in-panel, #show_appointment {
  background: #FFF;
  padding:  20px;
  border: 10px solid #777;
  border-radius: 20px;
  margin-left:  100px;
}

#appointment_details {
  float:  left;
  width: 500px;
}

.appt_btn_box {
  margin: 5px;
}

.btn.btn-danger.appt_btn_box {
  margin-top: 2px;
}

#show_appointment {
  min-height: 250px;
}



#show_appointment ul li {
  float: left;
  width:  200px;
  padding: 10px;
  box-shadow: inset 0px 0px -1px rgba(180, 180, 180, .5);
  background: rgba(214, 190, 226, 0.5);
}


.control-plate {
  background: -webkit-gradient(linear, left top, right top, from(#FFEABD), to(#FFBA23));
  background: -moz-linear-gradient(left, #FFF, #FFBA23);
  width: 175px;
  height: 82px;
  border-radius: 3px;
  position: relative;
  top:  27px;
  left: -52px;
  margin-top: -19px;
  margin-left: 64px;
  padding-top:  10px;
  text-shadow:  1px 1px 1px #333;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.9);
  border-bottom: 0.5px solid #888;
  border-right: 0.5px solid #999;
  border-left: 0.5px solid #EEE;
  border-top: 0.5px solid #EEE;
  list-style-type: none;
}

.control-btn {
  float:  left;
  margin: 4px;
  margin-left: 27px;
  width: 205px;
  height: 100px;
  background-color: #FF9E00;
  border-radius: 3px;
  border: 1px solid #F3F3F3;
  box-shadow: inset 2px 2px 10px #333;
  /*display: block;*/
}

a.manage-btn {
  font-size:  25px;
  text-decoration: none;
  color: #FF9E00;
  text-shadow: 2px 1px 3px #000;
}

/*client show page*/

.form-detail {
  float: left;
  width:  660px;
  background: #FFF;
  padding:  20px;
  border: 10px solid #777;
  border-radius: 20px;
}

#form-detail-client {
  float: left;
  width:  660px;
  background: #FFF;
  padding:  20px;
  border: 10px solid #777;
  border-radius: 20px;
  margin-bottom: 70px;
}


#stylist-input-panel {
  /*float:  left;*/
  width:  600px;
  margin-top: 0px;
  min-height: 500px;
  background: #FFF;
  padding:  20px;
  margin-bottom: 50px;
  border: 10px solid #777;
  border-radius: 20px;
  box-shadow: 0px 0px 13px #000;
}

#field_is_required {
  margin-left: 0px;
  margin-bottom: 10px;
}

.sign_up_form .field {
  margin-left:  20px;
  margin-bottom: -15px;
}

.sign_up_form .form_buttons {
  margin-top: 15px;
  margin-left: 30px;
}

.required {
  position: relative;
  top: 18px;
  left: -14px;
}

/*This is the drop down box to send a text*/
/*#text-client-form {
  float:  left;
  width:  100px;
}*/

#text-client-box {
  float:  left;
  width: 250px;
  margin-left:  17px;
  background: -webkit-linear-gradient(top,#EEE,#FFF);
  p {
    margin-left: 8px;
  }
}

#close-text-box {
  float:  left;
  width:  26px;
  border-radius: 5px;
  margin-left:  -26px;
}

/*aligns phone field on client show*/
#phone {
  margin-top: 10px;
  margin-left: 16px;
}
/*This is the send message btn in text client field on client show*/
input.btn.btn-success {
margin-left: 2px;
}

/*This is the delete btn on client show page*/
.btn.btn-danger {
  margin-bottom: 8px;
  margin-top: 9px;
}
/*This is the text client btn on client show page*/
#create_text {
  float:  left;
  width: 250px;
  margin-left: 18px;
/*  margin-left: 370px;
  margin-top: -634px;
*/  font-size: 19px;
  letter-spacing: 3px;
}
/*
#appointments ul li a {
  font-size: 14px;
}*/



/* -----------------------------------------------------
 * STRIPE
 *-----------------------------------------------------*/
#free_version {
  float: left;
  width:  300px;
  height: 300px;
  border: 1px solid red;
  border-radius: 10px;
  margin-left:  30px;
  margin-right:  20px;
  padding-left: 20px;
  box-shadow: 1px 1px 10px #000;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  /*font-size: 18px;*/
  border: 1px solid #999;
  background: -webkit-linear-gradient(top,#FFF,#569700);
   li {
    font-size: 16px;
  }
}



#free_version #title {
  color:  #FFF;
  height: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-left: 58px;
  background-color: rgba(131, 46, 178, 1);
  margin-top: -1px;
  margin-left:  -20px;
  font-size: 26px;
}

#value_version {
  float: left;
  width:  300px;
  height: 300px;
  border: 1px solid blue;
  border-radius:  10px;
  padding-left: 20px;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  /*font-size: 18px;*/
  border: 1px solid #999;
  box-shadow: 1px 1px 10px #000;
  background: -webkit-linear-gradient(top,#84E900,#569700);
   li {
    font-size: 16px;
  }
}

#value_version #title {
  color:  #FFF;
  height: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-left: 58px;
  background-color: rgba(131, 46, 178, 1);
  margin-top: -1px;
  margin-left:  -20px;
  font-size: 26px;
}


/* -----------------------------------------------------
 * MISC
 *-----------------------------------------------------*/

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/*=========================*/








